<div id="about" class="section">
  <div class="description">
    <h2>O mnie</h2>
    <p>
      Jestem Junior Java Developerem z rocznym doświadczeniem w programowaniu w Javie. Aktualnie kończę ostatni semestr studiów inżynierskich na Wyższej Szkole Informatyki <br>i Zarządzania w Rzeszowie.
    </p>
    <p>
      Pracuję głównie nad rozwiązaniami backendowymi – stworzyłem projekt REST API, który umożliwia użytkownikom zapisywanie osiągnięć w treningach (takich jak serie <br>i powtórzenia) oraz prowadzenie dziennika pomiarów ciała. Doświadczenie zdobywałem również pracując z Angularem, jednak to backend jest moją prawdziwą pasją.
    </p>
    <p>
      Obecnie pracuję nad moją pracą inżynierską, której celem jest zaprojektowanie i implementacja systemu rekomendacji gier przy użyciu uczenia maszynowego. W wolnym czasie chętnie sięgam po gry RPG oraz Hack & Slash.
    </p>
    <p>
      Moje cele zawodowe to dalszy rozwój w dziedzinie backendu i eksploracja możliwości, jakie niesie za sobą wykorzystanie uczenia maszynowego w praktycznych projektach.
    </p>
  </div>
  <div class="logos">
    <img *ngFor="let logo of logos" [src]="logo.src" class="logo"  alt="logo.alt"/>
  </div>
</div>
