<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="over">
    <button mat-button (click)="scrollToSection('home'); drawer.close()">Home</button>
    <button mat-button (click)="scrollToSection('projects'); drawer.close()">Projects</button>
    <button mat-button (click)="scrollToSection('about'); drawer.close()">About</button>
    <button mat-button (click)="scrollToSection('contact'); drawer.close()">Contact</button>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title">Wojtur</span>
    <span class="spacer"></span>

    <div class="nav-buttons">
      <button mat-button (click)="scrollToSection('home')">Home</button>
      <button mat-button (click)="scrollToSection('projects')">Projects</button>
      <button mat-button (click)="scrollToSection('about')">About</button>
      <button mat-button (click)="scrollToSection('contact')">Contact</button>
    </div>
  </mat-toolbar>
</mat-sidenav-container>
