.spacer {
  flex: 1 1 auto;
}

.nav-buttons {
  display: none;
}

.mat-mdc-button:not(:disabled) {
  color: white;
}

.menu-button {
  display: inline-flex;
}

.sidenav-container {
  min-height: 5vh;
}

.main-content {
  margin-top: 56px;
}

@media (min-width: 769px) {
  .main-content {
    margin-top: 64px;
  }
}

@media (min-width: 769px) {
  .nav-buttons {
    display: flex;
    gap: 10px;
  }

  .menu-button {
    display: none;
  }
}
