<div id="projects" class="section">
  <mat-card appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="workout-tracker-image"></div>
      <mat-card-title>WorkoutTracker</mat-card-title>
      <mat-card-subtitle>REST API - Java</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/swagger.jpg" alt="Swagger logo">
    <mat-card-content>
      <p>
        Aplikacja REST API, która pozwala na śledzenie swoich pomiarów ciała oraz zapisywanie swoich treningów na siłowni.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://github.com/Wojtur28/WorkoutTracker" target="_blank">GITHUB</a>
    </mat-card-actions>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="portfolio"></div>
      <mat-card-title>Portfolio</mat-card-title>
      <mat-card-subtitle>Angular</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="angular-image" src="assets/images/angular_gradient.png" alt="Angular logo">
    <mat-card-content>
      <p>
        Interaktywne portfolio stworzone w Angularze, prezentujące moje umiejętności i dotychczasowe projekty.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://github.com/Wojtur28/portfolioWojtur" target="_blank">GITHUB</a>
    </mat-card-actions>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="Aplikacja desktopowa"></div>
      <mat-card-title>Desktopowa aplikacja dla siłowni</mat-card-title>
      <mat-card-subtitle>Java, JavaFX</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/swagger.jpg" alt="JavaFX logo">
    <mat-card-content>
      <p>
        Aplikacja desktopowa dla siłowni, umożliwiająca zarządzanie treningami i klientami.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://github.com/Wojtur28/SzkolenieTechniczne1Projekt" target="_blank">GITHUB</a>
    </mat-card-actions>
  </mat-card>
</div>
